// DIMENSIONS
$page-width: 700px;

// COLORS
$text-color: #303030;
$text-color-light: #ffffff;

$page-background-color: #ebebeb;
$content-background-color: #ffffff;
$border-color: #e4e0e0;
$highlight-color: #5aac7d;
